/* color palate: https://colorhunt.co/palette/f6f5f5d3e0ea1687a7276678 */

body {
    background-color: #F6F5F5;
    font-size: medium;
}

h1 {
    padding-top: 100px;
    color: #276678;
    text-align: center;
}

h2, h3, h4 {
    color:#276678;
    padding-top: 0.75em;
    /* text-align: center; */
}

li {
    margin-bottom: 5px;
    font-size: 1em;

}

#nav {
    position: fixed;
    display: flex;
    align-items: center;
    list-style-type: none;
    top: 0px;
    left:0px;
    width: 100%;
    height: 8%;
    border: solid;
    background-color: #1687A7;
  }

#nav a {
    color:#D3E0EA;
    text-align: center;
    padding: 55px;
    font-size: 1.5em;
}

  a  {
      text-decoration: none;
  }

 /* #jenPhoto {
      width: 20%;
      height:auto;
      border-radius: 10%;
     padding-left: 50px;
  } */

  #jenSoloPhoto {
    width: 23%;
    height:auto;
    border-radius: 20%;
    display: block;
     margin: 0 auto;
  }

.intro {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3em;
    width: 60%;
    text-align: left;
}

  div{
 padding-left: 30%;
 padding-bottom: 4%;
 width: 40%;
 padding-top: 0.5em;
  }

.proj-photo {
    width: 50%;
    margin-left: 25%;
}

.proj-title {
    padding-bottom: 2.5rem;
    text-align: center;
}
 
.porfolio-item {
    border: solid;
    width: 25%;
    display:inline-block;
    height: 300px;
    margin-left: 25%;
}

.educ-img {
    width: 25%;
    height: auto;
    display:inline-block;
    padding-top: 50px;
}

  #footer {
      background-color: #171717;
      border:solid;
      width: 100%;
      padding-top:2%;
      padding-bottom:1%;
      
  }

  #univ-educ {
      background-color: #D3E0EA;
      width: 100%;
  }

  #univ-educ ul {
      width: 50%;
  }
