/* color palate: https://colorhunt.co/palette/f6f5f5d3e0ea1687a7276678 */

body {
    background-color: #F6F5F5;
    font-size: medium;
}

h1 {
    padding-top: 100px;
    color: #276678;
    text-align: center;
}

h2, h3, h4 {
    color:#276678;
    padding-top: 0.75em;
    /* text-align: center; */
}

#title-educ {
    font-size: 2em;
    font-weight: bold;
}

li {
    margin-bottom: 5px;
    font-size: 1em;
}

#nav {
    position: fixed;
    display: flex;
    align-items: center;
    list-style-type: none;
    top: 0px;
    left:0px;
    width: 100%;
    height: 8%;
    border: solid;
    background-color: #1687A7;
  }

#nav a {
    color:#D3E0EA;
    text-align: center;
    padding: 55px;
    font-size: 1.5em;
}

  a  {
      text-decoration: none;
  }

  #jenSoloPhoto {
    width: 23%;
    height:auto;
    border-radius: 20%;
    display: block;
     margin: 0 auto;
  }

.intro {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3em;
    width: 60%;
    margin-left: 20%;
    text-align: left;
}

  div {
 padding-left: 0%;
 padding-bottom: 4%;
 width: 40%;
 padding-top: 0.5em;
  }

.proj-photo {
    width: 50%;
    margin-left: 25%;
}

.proj-title, #resume-title {
    padding-bottom: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.proj-title:hover, #resume-title:hover {
    text-decoration: underline;
}
 
.portfolio-item {
    border: solid;
    width: 25%;
    display:inline-block;
    height: 300px;
    margin-left: 25%;
}

.portfolio-caption {
    margin-top: 0px;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 40px;
    background-color:#D3E0EA;
    padding: 15px;
}

.educ-img {
    width: 25%;
    height: auto;
    display:inline-block;
    padding-top: 50px;
}

  #footer {
      background-color: #171717;
      border:solid;
      width: 100%;
      padding-top:2%;
      padding-bottom:1%;
      
  }

  #univ-educ {
      background-color: #D3E0EA;
      width: 100%;
  }

  #univ-educ ul {
      width: 50%;
  }
figure {
    font-size: 4em;
    padding: 0;
    margin: 0;
    text-align: center;
}
figure:hover {
    opacity: 80%;
}

  #resume {
      font-size: 1em;
      margin-left: 30%;
      color: #000000;
  }

  #resume:hover {
    color: #1687A7;
}

#prog-languages {
    list-style-type: none;
    display: flex; 
}

#prog-languages li {
    margin-right: 40px;
    font-size: 20px;
    text-align: center;
}
